<html>

<base href="{BASE_URL}">

<head>

<title>Reset Forgotten Password</title></head>
<body bgcolor="#efefef">
<font face="Tahoma" style="font-size: 9pt">
<!-- BEGIN mainBlock -->
</font>
<blockquote>
<font face="Tahoma" style="font-size: 9pt">Dear User:</font><p>

<font face="Tahoma" style="font-size: 9pt">Click <a href="{PASSWORD_URL}">here</a> to reset your forgotten password.
</font>
<p>
<font face="Tahoma" style="font-size: 9pt">Thank you.

<br>
&nbsp;</font></blockquote>
<!-- END mainBlock -->
</body>
</html>
