<!-- BEGIN orderFormBlock -->
<div style="align:center;" >
	<form name="orderform" action="{APP_PATH}/{APP_NAME}" method="post">
		<table width="98%" border="0" cellpadding="4" cellspacing="0" id="content" align="center">
			<thead>
				<tr>
					<th>&nbsp;					</th>
					<!-- BEGIN headerColumnBlock -->
					<th>{ColumnName}</th>
					<!-- END headerColumnBlock -->
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN catalogBlock -->
				<tr>
					<!-- BEGIN dataColumnBlock -->
					<td>{ColumnData}</td>
					<!-- END dataColumnBlock -->
				</tr>
				<!-- END catalogBlock -->
			</tbody>
		</table>
	</form>
<!-- END orderFormBlock -->
</div>