<!-- BEGIN contentBlock -->
<div class="dis-content dis-mainmenu">
	<div class="dis-menu">
		<div>
			<p align="center" class="formheader">Stevens Point Brewery Distributor Menu<br />
				{dsdisn}
			</p>
		</div>
		<ol>
			<li><a href="wms/userprofile/apps/userprofile_update_user_profile.php?rnd={RND}">Change Your User Profile</a></li>
			<li><a href="wms/ordermngr/ordermngr.php?cmd=add">Enter a New Order</a></li>
			<li><a href="wms/ordermngr/ordermngr.php?cmd=display"> Change an Existing Order</a></li>
            {DistCustMenu}
		</ol>
		<div class="actionButtons" align="center">
				<input name="Logout" type="submit" value="Logout" class="ButtonSubmit" onclick="goto_url('http://pointbeer.com/dis_distributor/wms/logout/logout.php')" />
		</div>
			<br class="clear" />
			<div id="disclaimer">
			PLEASE NOTE:&nbsp;&nbsp;&nbsp;Wholesalers should not order products that are not approved for their state&#8230;based on alcohol level or other restrictions.   If you have any questions about the approval of any product, please call Julie Birrenkott at (715) 344-9310  x 114 or email Julie at julie@pointbeer.com.   Thank you.
			</div>
	</div>
</div>

<!-- END contentBlock -->
